@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap");

@import "./helix/helixcss.scss";
@import "./helix/helixcolor.scss";

:root {
  --heading-color: var(--font-primary);
  --text-color: var(--font-tertiary);
  --code-color: var(--font-tertiary);
  --font-family: Nunito Sans, sans-serif;
}

body {
  min-height: 100dvh;
  font-family: var(--font-family);
}
